* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

body {
  background-color: #000285;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

button {
  border: 2px solid #0e69b2;
  background-color: #023f94;
  color: #fff;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  width: 70px;
  height: 58px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #0554c1;
}

header,
footer {
  background-color: #031b39;
  padding: 1rem;
  text-align: center;
  border-radius: 0 0 12px 12px;
  border: 4px solid #205a75;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

header {
  border-radius: 0 0 12px 12px;
  border-top: 0;
}

main {
  flex: 1;
  border: 4px solid #00c6ff;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}

footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 12px 12px 0 0;
  border-bottom: 0;
}

footer form {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer input {
  flex: 1;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  outline: none;
  border-radius: 0.5rem;
  border: none;
}

audio {
  display: none;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 0.5rem;
  object-fit: cover;
  background-color: #040d69;
  border: 4px solid #0e63a1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 960px;
}

.score-counter {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 180px;
  height: 100px;
  background-color: rgba(17, 76, 240, 0.5);
  line-height: 80px;
  margin: 0 auto 1rem;
  font-size: 4rem;
  font-weight: 600;
  border: 0.75rem solid #40489d;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.answer-grid-wrapper {
  border: 4px solid #ffde02;
  border-radius: 0.5rem;
}

.answer-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.answer-item__front {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(#5b8ee8, #093cc2);
}

.answer-item__number {
  width: 48px;
  height: 40px;
  border-radius: 50%;
  background-color: #0a2d7d;
  font-size: 2rem;
  font-weight: 500;
  line-height: 40px;
  text-shadow: 2px 2px #000;
  margin: 0 auto;
  border: 2px solid #4f70d0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.answer-item {
  background-color: transparent;
  height: 48px;
  perspective: 1000px;
  border: 1px solid #fff;
}

.answer-item__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.answer-item.completed .answer-item__inner {
  transform: rotateX(-180deg);
}

.answer-item__front,
.answer-item__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.answer-item:nth-last-child(-n + 4) {
  border-left: 0;
}

.answer-item__back {
  display: flex;
  background-color: #2980b9;
  color: white;
  transform: rotateX(180deg);
}

.answer-item__answer {
  flex: 1;
  text-align: center;
  line-height: 48px;
  background-color: #013ea3;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 2px 2px #000;
}

.answer-item__score {
  width: 48px;
  min-width: 48px;
  line-height: 48px;
  text-align: center;
  background-image: linear-gradient(#5b8ee8, #093cc2);
  border-left: 1px solid #fff;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 2px 2px #000;
}

.arrow-up-icon {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.x-mark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.x-mark-container {
  width: 20rem;
  height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  border: 1.5rem solid #eb3233;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  animation: grow 0.5s;
}

.x-mark-icon {
  width: 100%;
  height: 100%;
  fill: #eb3233;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
